SOAP_REST_WebService/LoginApp/Connected Services/SOAPServiceReference/SOAPService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59642/SOAPService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOAPWebService" />
  <xs:element name="GetIDPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="age" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIDPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SOAPWebService" minOccurs="0" name="GetIDPasswordResult" nillable="true" type="q1:results" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>