SOAP_REST_WebService/LoginApp/Connected Services/SOAPServiceReference/SOAPService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOAPWebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOAPWebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="results">
    <xs:sequence>
      <xs:element minOccurs="0" name="loginID" type="xs:int" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="results" nillable="true" type="tns:results" />
</xs:schema>